[submodule "GitModules/asbind20"]
	path = GitModules/asbind20
	url = https://github.com/HenryAWE/asbind20.git
[submodule "GitModules/angelscript"]
	path = GitModules/angelscript
	url = https://github.com/anjo76/angelscript.git
[submodule "GitModules/angelsea"]
	path = GitModules/angelsea
	url = https://github.com/asumagic/angelsea.git
